<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Document</title>
</head>
<body>
    
    <main>
        <div id="main-background" class="background-transition"></div>
        <img src="img/vis.svg" alt="vis" id="main-vis" class="on-plate">
        <div id="crop">
            <img src="img/crop.svg" alt="sla">
            <img src="img/crop.svg" alt="sla">
            <img src="img/crop.svg" alt="sla">
        </div>
        <article id="intro">
            <h2>intro</h2>
            <div class="plate-container">
                <img src="img/fork.svg" alt="Fork">
                <img src="img/plate.svg" alt="Plate">
                <img src="img/knife.svg" alt="Knife">
            </div>

            <div class="thinking">
                <img src="img/thinking.svg" alt="Thinking">
                <p>How did I get on your plate?</p>
            </div>
        </article>
        <article id="test1">
            <h2>test1</h2>
        </article>
        <article id="test2">
            <h2>test1</h2>
        </article>
    </main>
    <textarea id="" cols="30" rows="10"></textarea>
    <script src="js/camera-control-debug.js"></script>
    <script src="js/frame-render.js"></script>
    <script src="js/device-orientation-debug.js"></script>
</body>
</html>